*#*
*~
*.aux
*.auxlock
*.bbl
*.blg
*-blx.bib
*.dep
*.don
*.dpth
*.escas
*.glo
*.ist
*.log
*.md5
*.nav
*.out
*.pdf
!/tikz/*.pdf
!/figure/*.pdf
!/figure/pdf/*.pdf
*.png
!/figure/*.png
*.rel
*.run.xml
*.snm
*.spl
*.toc
*.zip
*.eps
!/figure/logo_phimeca/eps/Logo_Couleur_Petit_Droite.pdf
!/figure/logo_phimeca/png/Logo_CD.png
*.vrb